#fondo {
    padding: 25px;
    border: 12px solid red;
    width: 340px;
    height: 280px;
    background: url(gato.png) top 40px left 40px /80px 50px no-repeat;
}

#fondo1 {
    padding: 25px;
    border: 12px solid red;
    width: 340px;
    height: 280px;
    background: url(balon.jpg) top /100px no-repeat, url(balon2.jpg) bottom /100px no-repeat;
}

#fondo2 {
    padding: 25px;
    border: 12px solid red;
    width: 340px;
    height: 280px;
    background: url(plato.png) center /180px no-repeat, url(mesa.jpg) center/cover no-repeat;
}

#fondo3 {
    padding: 25px;
    border: 12px solid red;
    width: 340px;
    height: 280px;
    font-size: 24px;
    background-color: mediumseagreen;
    /*el content-box hace una diferencia con el padding*/
    background-clip: content-box;
}